.social {
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        text-decoration: none;
        display: flex;
        gap: 10px;
        background: var(--clr-i);
        color: white;
        border-radius: 10px;
        padding: 12px 15px;
        margin: 10px;
        //filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
        //-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
        //-ms-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            //scale: 1.06;
            color: var(--clr-i);
            background: white;
        }
    }



    img {
        height: 20px;
        fill: red;
    }

    h1 {
        font-size: 12px;
        font-weight: 500;
        //color: white;
        //font-family: raleway;
    }
}

@media screen and (max-width: 600px) {
    .social {
        width: 150px;
        border-radius: 100px;

        img {
            height: 35px;
        }
        
        h1 {
            font-size: 16px;
        }
    }
}
