.social {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(45deg, var(--clr-i), var(--clr-ii));
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    //filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
    //-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
    //-ms-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.274);
    cursor: pointer;
    transition: scale .2s;
    -webkit-transition: -webkit-transform .2s;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
    }

    &:hover {
        //scale: 1.06;
        transform: scale(1.06);
        -webkit-transform: scale(1.06, 1.06);
        -ms-transform: scale(1.06, 1.06);
    }

    img {
        height: 40px;
    }

    h1 {
        font-size: 18px;
        font-weight: 500;
        color: white;
        //font-family: raleway;
    }
}