.socials-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .quick-links {
        font-weight: 500;
        font-size: 18px;
    }

    .socials {
        display: flex;
    }
}